.stock-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  gap: 10px;
}

.stock-symbol {
  flex: 1;
  font-weight: bold;
  display: flex;
  align-items: center;
  height: 40px;
}

.stock-price-neutral,
.stock-price-neg,
.stock-price-pos {
  width: 80px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 10px;
  flex: 0 0 auto;
  color: white;
}

.stock-price-neutral {
  background-color: rgb(146, 146, 146);
}

.stock-price-neg {
  background-color: red;
}

.stock-price-pos {
  background-color: green;
}

.delete-btn {
  background-color: rgba(255, 0, 0, 0);
  color: rgb(0, 0, 0);
  border: 2px solid #e8e8e8;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete-btn:hover {
  background-color: red;
  color: rgb(255, 255, 255);
}
